@font-face {
    font-family: 'Poppins', sans-serif;    
    src: url(../fonts/prophins/Poppins-Medium.ttf);
    font-family: 'Oswald', sans-serif;
    src: url(../fonts/Oswald-Medium.ttf);
}


/* header */
body {
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;    
}
    * {
    color: #000000;
}

.nav-ul > li a {
    color: #3D3D3D;
    font-family: 'Poppins', sans-serif;    
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
}

.smartshop > a span {
    font-weight: 500;
    font-size: 24px;
    line-height: 35.57px;
    font-family: 'Oswald', sans-serif;
}

.smartshop > a {
    color: #3F69FF !important;
    font-family: Oswald!important;
    font-size: 24px!important;
    font-weight: 500!important;
    line-height: 36px!important;
    font-family: 'Oswald', sans-serif!important;
}

.container-header {
    max-width: 1340px;
    width: 93%;
    margin: 0 auto;
}

.nav-ul > li{
    display: inline-block;
    margin-top: 21px;
}

.nav-ul > li:nth-child(n+2){
    margin-left: 52px;
}

.nav-ul > li:first-child{
    margin-right: 250px;
}

.nav-ul > li:nth-child(7){
    margin-left: 260px;
}

.menu-container > div span {
    cursor: pointer;
}


/* hover on click */
.nav-ul > li a:active {
    color: #0052CC;
    text-decoration: underline;
    
}

/* Section 1 */

.menu-container {
    margin-top: 50px;
    background-color: #0052CC;
    width: 1440px;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
}

.container-header > form input {
    max-width: 389px;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-left: 360px;
}

.container-header > span {
    margin-left: 17px;
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF;
}

.container-header {
    display: flex;
    align-items: center;
}

/* section 2 */

.main-header {
    margin-top: 88px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.cards-container{
    max-width: 1340px;
    width: 93%;
    margin: 0 auto;
    margin-top: 93px;
    display: flex;
    justify-content: space-between;
}

.card-container {
    max-width: 260px;
    width: 100%;
    background-color: #FFFFFF;
}

.card-container > img {
    margin-left: 54px;
}

.card-container > div{
    display: flex;
    justify-content: space-between;
}

.card-container > .card-main {
    margin-top: 27px;
    border-bottom: 1px solid #3F69FF;
}


.card-main > h3 {
    font-family: 'Poppins', sans-serif;    
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}

.card-main > span {
    margin-bottom: 14px;
    color: #373737;
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
}

.card-main > span span {
    text-decoration: line-through;
    color: #BD6161;
    margin-right: 14px;
    font-family: 'Poppins', sans-serif;    
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
}

.see-more {
    margin-top: 14px;
}

.see-more > a {
    color: #000000;
    font-family: 'Poppins', sans-serif;    
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;    
    text-transform: capitalize;

}

.see-more > span {
    color: #6A6A6A;
    font-family: 'Poppins', sans-serif;    
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
}

/* :hover */

.card-container > .image1:hover {
    display: none;
}
.card-container > #image-hover  {
    display: block;
}



/* footer */
.footer-section {
    background-color: #0052CC;
    margin-top: 233px;
}

.footer-container {
    max-width: 1340px;
    width: 93%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

/* footer-first-part */
.social-container {
    margin-top: 100px;
}

.social-container > img:not(:first-child) {
    margin-left: 17px;
}


/* footer-second-part */
.footer-second-block > nav ul{
    display: flex;
}

.for-nth-child > div li:not(:first-child){
    margin-top: 13px;
}

.for-nth-child > div:not(:first-child){
    margin-left: 88px
}

.footer-third-block > p {
    margin-top: 26px;
    color:#FFFFFF;
}

.footer-nav > li a {
    color:#FFFFFF;
    font-family: 'Poppins', sans-serif;    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-first-block > a {
    font-family: 'Oswald', sans-serif;
    color:#FFFFFF;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.footer-third-block > form input{
    max-width: 254px;
    width: 100%;
    padding: 11px 0;
    padding-left: 18px;
    font-family: 'Poppins', sans-serif;    
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 6px;
}


/* page 2 */

.container-about {
    max-width: 1215px;
    width: 84%;
    margin: 0 auto;
}

.header-2 {
    margin-top: 74px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    color: #3F69FF;
    font-family: 'Poppins', sans-serif;    

}

.container-for-rotrate {
    display: flex;
    justify-content: space-around;
}

.container-for-rotrate > div img{
    margin-top: 115px;
}
.container-for-rotrate > div img{
    transform: rotate(66deg);
}


.header-1 {
    margin-top: 49px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    color: #3F69FF;
    font-family: 'Poppins', sans-serif;    
}


.paragraph-1 {
    max-width: 817px;
    width: 100%;
}

.container-for-rotrate > div p {
    margin-top: 30px;
}

.image-container > img {
    margin-top: 53px;
}

.image-container > img:not(:first-child){
    margin-left: 175px;
}
strong {
font-weight: bold;
}

/* page 3 */

.container-blog {
    max-width: 1270px;
    width: 88%;
    margin: 0 auto;
}

.container-blog > h2 {
    margin-top: 41px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;    
    font-weight: 600;
    line-height: 75px;
}
.blog-main-card {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.blog-main-card > div p:first-child {
    max-width: 615px;
    width: 100%;
    margin-left: 67px;
    font-family: Poppins;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    line-height: 54px;
    font-family: 'Poppins', sans-serif;    
}

.blog-main-card > div p:not(:first-child) {
    max-width: 579px;
    width: 100%;
    margin-left: 64px;
    font-family: 'Poppins', sans-serif; 
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
}

.blog-card-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 103px;
}

.card-wrapper > p{
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    max-width: 280px;
    width: 100%;
    margin-top: 14px;
}


/* contact page */

.container-contact {
    max-width: 1270px;
    width: 88%;
    margin: 0 auto;
}

form {
    max-width: 581px;
    width: 100%;
}

.name-last {
    margin-top: 11px;
}

.mail{
    margin-top: 26px;
}

.mail-input {
    margin-top: 11px;
    max-width: 581px;
    width: 100%;
    padding: 12px 0;
    padding-left: 16px;
    border: 1px solid #7E7E7E;
    border-radius: 6px;
}

.phone > input {
    margin-top: 11px;
    padding: 12px 0;
    padding-left: 16px;
    border: 1px solid #7E7E7E;
    border-radius: 6px;
    max-width: 581px;
    width: 100%;
}

textarea {
    max-width: 581px;
    width: 100%;
    margin-top: 11px;
    height: 133px;
    resize: none;
}

.btn {
    margin-top: 36px;
    padding: 12px 35px;
    border: 1px solid #7E7E7E;
    border-radius: 6px;
    max-width: 209px;
    width: 100%;
    margin-left: 170px;
    background-color: #3F69FF;
    color: #F5F5F5;
}


.container-contact > h2 {
    margin-top: 65px;
    font-family: 'Poppins', sans-serif; 
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.container-contact > span {
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.first-last-name {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.name-last {
    padding: 12px 0;
    padding-left: 16px;
    border: 1px solid #7E7E7E;
    border-radius: 6px;
}

.google{
    max-width: 590px;
    width: 100%;
    display: inline-block;
}

.container-forgoogle {

    display: flex;
    justify-content: space-between;
    max-width: 1270px;
    width: 88%;
    margin: 0 auto;
}

.google {
    margin-top: 117px;
}
